.Background {
    background-image: url(../../public/backgrounddnd.jpg);
    backdrop-filter: blur(10px);
    background-size:cover;
    background-attachment:fixed;
    background-position:top;
    min-height: 100vh;
    
    
}

.Card {
    padding: 50px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}